.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ffffff 50%, #464646 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
html {
  height:100%;
  margin: 0px auto;
  width:1300px;  
  background: #ffffff;
}
.contents {
  background: #b5b5b5;
  padding: 0.1em;
}
.contents h1 {
  padding: 0.1em;
  text-align:center;
  background: #b5b5b5;
}
h2 {
  padding: 0em;
  text-align:center;
  background: #b5b5b5;
}
h3 {
  padding: 0.1em;/*文字周りの余白*/
  color: #000000;/*文字色*/
  background: #ffffff;/*背景色*/
  border-left: solid 5px #000000;/*左線（実線 太さ 色）*/
}
